<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ki kori ki kori</title>
    <script
      th:src="@{/webjars/htmx.org/1.9.11/dist/htmx.min.js}"
      defer
    ></script>
  </head>
  <body>
    <h1>TODO app</h1>
    <div class="todo-list-wrapper">
      <th:block th:replace="~{components/todoList :: todo-list}"></th:block>
      <form th:action="@{/todos}" method="post">
        <input
          name="description"
          type="text"
          placeholder="Description for new todo"
        />
        <button>add</button>
      </form>

      <button
        th:hx-get="@{/todos/something}"
        hx-swap="outerHTML"
        th:text="Something"
      ></button>
    </div>
  </body>
  <!-- <script defer src="https://unpkg.com/htmx.org@1.9.11"></script> -->
</html>
